<div class="container-fluid">
    <div class="smw">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-text pull-right">
                        <a class="navbar-link " ng-show="model.currentUser" href="#!/profile">
                            <span class="glyphicon glyphicon-user smw-white-icon-medium"></span>
                        </a>
                        <a class="navbar-link" href="#!/">
                            <span class="glyphicon glyphicon-home smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <div class="navbar-text pull-left">
                        <a class="navbar-link" onclick="history.back()">
                            <span class="glyphicon glyphicon glyphicon-menu-left smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">DNAtabase</a>
                    <a class="navbar-brand" ng-show="!model.currentUser" href="#!/login">Login</a>
                    <a class="navbar-brand" ng-show="!model.currentUser" href="#!/register">Register</a>
                </div>
            </div>
        </nav>

        <div class="smw-body-left">
            <div ng-show="model.errorMessage" class="alert alert-danger">{{model.errorMessage}}</div>
            <div ng-show="model.errorMessage2" class="alert alert-success">{{model.errorMessage2}}</div>

            <h1 class="hidden-xs smwcolor">{{model.node.attributes.title}}</h1>
            <h3 class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl smwcolor">{{model.node.attributes.title}}</h3>

            <p class="col-xs-12 smwcolor">Contributor: {{model.contributor}}</p>
            <h5 class="col-xs-12 smwcolor">Created On: {{model.node.attributes.date_created | date : "short"}}</h5>
            <p class="col-xs-12 smwcolor">Category: {{model.node.attributes.category}}</p>
            <p class="col-xs-12 smwcolor">Description: {{model.wikiText}}</p>

            <div ng-show="commentInput" class="smw-center-text">
                <h3>Write a Comment...</h3>
                <div class="col-xs-2"></div>
                <textarea class="col-xs-8 smw-center-text"ng-model="model.comment.content"class="wide-text-input smw-black-text"></textarea>
                <button class="btn btn-success btn-submit col-xs-2"
                        ng-click="model.createComment(model.nodeId, model.currentUser, model.comment);
                        commentInput=false">Submit
                </button>

            </div>


            <ul class="col-xs-12 list-group" style="padding-bottom: 60px">
                <h2 class="smwcolor">Comments ({{model.comments.length}})</h2>
                <li ng-repeat="comment in model.comments" class="list-group-item">
                    <div class="row">
                        <div class="hidden-xs col-sm-4  col-md-4 col-lg-4">{{comment._user.username}} on {{comment.dateCreated | date : "short"}}:</div>
                        <div class="col-xs-11  col-sm-7 col-md-7 col-lg-7">
                            {{comment.content}}
                        </div>
                        <div class="col-xs-1  col-sm-1 col-md-1 col-lg-1" ng-show="model.currentUser._id===comment._user._id
                        || model.currentUser.isAdmin">
                            <a ng-click="model.deleteComment(comment)"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-text pull-right" ng-show="!model.currentUser || !model.currentUser.articles.includes(model.nodeId)">
                    <a ng-click="model.saveArticle(model.node)">
                        <span class="glyphicon glyphicon-heart-empty smw-white-icons glyphicon"></span>Save</a>
                </div>
                <div class="navbar-text pull-right" ng-show="model.currentUser.articles.includes(model.nodeId)">
                    <a ng-click="model.unsaveArticle(model.node)">
                        <span class="glyphicon glyphicon-remove smw-white-icons glyphicon"></span>Unsave</a>
                </div>
                <div class="navbar-text pull-right" ng-show="model.currentUser">
                    <a ng-click="commentInput=true">
                        <span class="glyphicon glyphicon-comment smw-white-icons glyphicon"></span> Comment</a>
                </div>
            </div>
        </nav>

    </div>
</div>

