<div class="container-fluid">
    <div class="smw">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" ng-show="model.currentUser" href="#!/profile">
                            <span class="glyphicon glyphicon-user smw-white-icon-medium"></span>
                        </a>
                        <a class="navbar-link" href="#!/">
                            <span class="glyphicon glyphicon-home smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">DNAtabase</a>
                    <a class="navbar-brand" ng-show="!model.currentUser" href="#!/login">Login</a>
                    <a class="navbar-brand" ng-show="!model.currentUser" href="#!/register">Register</a>
                </div>
            </div>
        </nav>
        <div class="smw-body">
            <div ng-show="model.errorMessage" class="alert alert-danger">{{model.errorMessage}}</div>
            <div ng-show="model.errorMessage2" class="alert alert-success">{{model.errorMessage2}}</div>

        <h1>Title: {{model.node.attributes.title}}</h1>
        <h5>Created On: {{model.node.attributes.date_created}}</h5>
        <p>Category: {{model.node.attributes.category}}</p>
        <p>Description: {{model.wikiText}}</p>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-text pull-right">
                    <a ng-click="model.saveArticle(model.node)">
                        <span class="glyphicon glyphicon-heart-empty smw-white-icons glyphicon"></span>Save</a>
                </div>
                <div class="navbar-text pull-right">
                    <a ng-click="model.comment(model.node)">
                        <span class="glyphicon glyphicon-comment smw-white-icons glyphicon"></span> Comment</a>
                </div>
            </div>
        </nav>

    </div>
</div>

