<div class="container-fluid">
    <div class="smw">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="pull-left">
                        <a class="navbar-brand" href="#!/profile/{{model.userId}}/">Profile</a></div>
                    <div class="navbar-text pull-right" ng-click="model.updateUser(model.user)">
                            <span class="glyphicon glyphicon-check smw-white-icons"></span></a>
                    </div>
                </div>
            </div>
        </nav>

        <div ng-show="model.errorMessage" class="alert alert-success">{{model.errorMessage}}</div>

        <div class="container-fluid smw-body">
            <label for="firstname"> First Name</label>
            <input name="firstname"
                   class="form-control"
                   ng-model="model.user.firstName"
                   type="text"
                   id="firstname"/>

            <label for="lastname"> Last Name</label>
            <input name="lastname"
                   class="form-control"
                   ng-model="model.user.lastName"
                   type="text"
                   id="lastname"/>

            <label for="username"> Username</label>
            <input name="username"
                   ng-model="model.user.username"
                   class="form-control"
                   readonly
                   id="username"/>

            <label for="email"> Email</label>
            <input name="email"
                   class="form-control"
                   type="email"
                   placeholder="@webdev.com"
                   id="email"/>


            <a class="btn btn-default btn-block"
               href="#!/user/{{model.user._id}}/website"
               role="button">Websites</a>

            <a class="btn btn-default btn-danger btn-block"
               href="#!/login"
               role="button">Logout</a>


            <a class="btn btn-default btn-success btn-block"
               ng-click="model.updateUser(model.user)"
               role="button">Update User</a>

            <a class="btn btn-default btn-danger btn-block"
               ng-click="model.deleteUser(model.user)"
               role="button">Unregister</a>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
            </div>
        </nav>
    </div>
</div>
