<div class="container-fluid">
    <div class="smw">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" href="#!/">
                            <span class="glyphicon glyphicon-home smw-white-icon-medium"></span>
                        </a>
                        <a class="navbar-link" href="#!/profile">
                            <span class="glyphicon glyphicon-user smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <div class="navbar-text pull-left">
                        <a class="navbar-link" onclick="history.back()">
                            <span class="glyphicon glyphicon glyphicon-menu-left smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">DNAtabase New User</a>
                </div>
            </div>
        </nav>

        <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
        <div class="smw-center-text">
            <h3>
                User Type:
                <label>
                    <input ng-model="user.isAdmin" type="radio" id="userRadio" name="userType" value="false"
                           checked="checked"/> User </label>
                <label>
                    <input ng-model="user.isAdmin" type="radio" id="adminRadio" name="userType" value="true"/> Admin
                </label>
            </h3>
        </div>


        <div class="container-fluid">
            <!-- Username form -->
            <label for="username"> Username</label>
            <input name="username"
                   ng-model="user.username"
                   class="form-control"
                   type="text"
                   placeholder="swigmore"
                   id="username"/>

            <!-- Password form -->
            <label for="password"> Password</label>
            <input name="password"
                   class="form-control"
                   ng-model="user.password"
                   placeholder="password123"
                   type="password"
                   id="password"/>

            <!-- Password Confirm form -->
            <label for="password2">Confirm Password</label>
            <input name="password2"
                   class="form-control"
                   ng-model="user.password2"
                   placeholder="password123"
                   type="password"
                   id="password2"/>

            <a class="btn btn-default btn-default btn-block"
               ng-click="model.create(user)"
               role="button">Create User</a>

        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
            </div>
        </nav>
    </div>
</div>