
input, textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
}

.navbar-default {
    background-color: lavender;
    border-color: #bfbfdc;
}

@media (min-width:1200px) {

}

.smw .smw-splitview-right{
    width: 75%;
    position: absolute;
    right: 0px;
    overflow-y: scroll;
    top: 120px;
    bottom: 0px;
}

.smw .smw-splitview-left {
    position: absolute;
    top: 120px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll
}