
input, textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
}

.navbar-default {
    background-color: #031424;

}

.navbar-header {
        width: 100%;
}

.glyphicon-ok {
    color: white
}

.smw .navbar-default .navbar-brand {
    color: whitesmoke;
    font-size: x-large;
}

.smw .btn-default {
    background-color: #8eaebd;
    color: white;
    border-color: #7c9cab
}

.smw .btn-danger {
    background-color: #cf6766
}


.smw .smw-splitview-right{
    width: 75%;
    position: absolute;
    right: 0px;
    overflow-y: scroll;
    top: 120px;
    bottom: 0px;
}

.smw .smw-splitview-left {
    position: absolute;
    top: 120px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll
}