<div class="container-fluid">
    <div class="smw">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" href="#!/">
                            <span class="glyphicon glyphicon-home smw-white-icon-medium"></span>
                        </a>
                        <a class="navbar-link" ng-show="model.currentUser" href="#!/profile">
                            <span class="glyphicon glyphicon-user smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <div class="navbar-text pull-left">
                        <a class="navbar-link" onclick="history.back()">
                            <span class="glyphicon glyphicon glyphicon-menu-left smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">DNAtabase</a>
                </div>
            </div>
        </nav>

        <div class="container-fluid smw-body">
            <h1>Search For Users By Username</h1>
            <h4>To see all users, simply hit the search button</h4>
            <div class="input-group">
                <input ng-model="userSearched" placeholder="Jannunzi" type="text" class="form-control">
                <span class="input-group-btn">
         <a ng-click="model.searchUsers(userSearched)" class="btn btn-default" type="button">
             <span class="glyphicon glyphicon-search"></span>
         </a>
     </span>
            </div>

            <ul class="list-group" ng-show="model.otherUsers">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-12">User</div>
                    </div>
                </li>
                <li ng-repeat="user in model.otherUsers" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="#!/profile/user/{{user._id}}">{{user.username}}</a>
                        </div>
                        <div class="col-xs-4" style="text-align: right" ng-hide="model.currentUser.following.includes(user._id)">
                            <button class="btn btn-success" ng-click="model.followUser(model.currentUser._id, user._id)"> Follow</button></div>
                        <div class="col-xs-4" style="text-align: right" ng-hide="!model.currentUser.following.includes(user._id)">
                            <button class="btn btn-danger" ng-click="model.unfollowUser(model.currentUser._id, user._id)"> Unfollow</button></div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>