<div class="container-fluid">
    <div class="smw">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" ng-show="model.currentUser" href="#!/profile">
                            <span class="glyphicon glyphicon-user smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">DNAtabase</a>
                    <a class="navbar-brand" ng-show="!model.currentUser" href="#!/login">Login</a>
                    <a class="navbar-brand" ng-show="!model.currentUser" href="#!/register">Register</a>
                </div>
            </div>
        </nav>



        <div class="panel panel-default panel-home">
            <div class="panel-body">
                Get research articles and projects about any area of scientific research, at the touch of a button.
            </div>
        </div>
        <h1>Search By Science Research Topic</h1>

        <div ng-show="model.errorMessage" class="alert alert-danger">{{model.errorMessage}}</div>


        <div class="container-fluid smw-body">
            <div class="input-group">
                <input ng-model="model.searchKeyword" placeholder="Cancer" type="text" class="form-control">
                <span class="input-group-btn">
         <a ng-click="model.searchArticle(model.searchKeyword)" class="btn btn-default" type="button">
             <span class="glyphicon glyphicon-search"></span>
         </a>
     </span>
            </div>
            <table class="table" ng-show="model.nodes">
                <tr>
                    <th>Title</th>
                    <th>Date Created</th>
                </tr>
                <tr ng-repeat="node in model.nodes">
                    <td>
                        <a href="#!/details/{{node.id}}">{{node.attributes.title}}</a>
                    </td>
                    <td>
                        {{node.attributes.date_created}}
                    </td>
                </tr>

            </table>

        </div>
    </div>