<div class="container-fluid">
    <h1>Open Science API</h1>
    <h2>Search By Science Research Topic</h2>

    <div ng-show="model.errorMessage" class="alert alert-danger">{{model.errorMessage}}</div>

    <input placeholder="Cancer"
           class="form-control"
           id="searchKeyword"
           ng-model="searchKeyword"></textarea>

    <button ng-click="model.searchArticle(searchKeyword)" class="btn btn-primary btn-block">Search</button>



    <table class="table" ng-show="model.nodes">
        <tr>
            <th>Title</th>
            <th>Date Created</th>
        </tr>
        <tr ng-repeat="node in model.nodes">
            <td>
                <a href="#!/details/{{node.id}}">{{node.attributes.title}}</a>
            </td>
            <td>
                {{node.attributes.date_created}}
            </td>
        </tr>

    </table>


</div>