
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html">Assignment Home</a>
            <a class="navbar-brand pull-right" id="smw-brand-3" href="#!/register">Register</a>
            <a class="navbar-brand pull-right" id="smw-brand-2" href="#!/login">Login</a>
        </div>
    </div>
</nav>

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>This is the home page of Sophie Wigmore's CS4550 Web Development weekly assignment.</p>
    </div>

</div>
