<div class="smw">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a class="navbar-link" href="../website/templates/webite-list.view.client.html">
                        <span class="glyphicon glyphicon-arrow-left smw-white-icons"></span>
                    </a>
                </div>
                <a class="navbar-brand" href="page-list.view.client.html">Pages</a>
                <div class="navbar-text pull-right">
                    <a class="navbar-link" href="page-new.view.client.html">
                        <span class="glyphicon glyphicon-plus smw-white-icons"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-10">Page Name</div>
                <div class="col-xs-2">
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="../widget/widget-list.view.client.html">Home</a></div>
                <div class="col-xs-2">
                    <a href="page-edit.view.client.html">
                        <span class="pull-right glyphicon glyphicon-cog"/>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="../widget/widget-list.view.client.html">About</a></div>
                <div class="col-xs-2">
                    <a href="page-edit.view.client.html">
                        <span class="pull-right glyphicon glyphicon-cog"/>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="../widget/widget-list.view.client.html">Make a Post</a></div>
                <div class="col-xs-2">
                    <a href="page-edit.view.client.html">
                        <span class="pull-right glyphicon glyphicon-cog"/>
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="../widget/widget-list.view.client.html">Find Users</a></div>
                <div class="col-xs-2">
                    <a href="page-edit.view.client.html">
                        <span class="pull-right glyphicon glyphicon-cog"/>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user smw-white-icons btn-lg"></span>
                </a>
            </div>
        </div>
    </nav>
</div>