<div class="smw">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a class="navbar-link" href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget">
                        <span class="glyphicon glyphicon-arrow-left smw-white-icons"></span>
                    </a>
                </div>
                <a class="navbar-brand">Choose Widget</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid .smw-body">
        <ul class="list-group">

            <li class="list-group-item" ng-click=
                    "model.createWidget({'widgetType': 'HEADING','size': 0, 'text': ''})">
                <div class="row"><a>Header</a></div>
            </li>


            <li class="list-group-item">
                <div class="row">
                    <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new">
                        Label</a>
                </div>
            </li>

            <li class="list-group-item" ng-click=
                    "model.createWidget({'widgetType': 'HTML','text': ''})">
                <div class="row"><a>HTML</a></div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new">
                        Text Input</a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new">
                        Link</a>
                </div>
            </li>


            <li class="list-group-item">
                <div class="row">
                    <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new">
                        Button</a>
                </div>
            </li>


            <li class="list-group-item" ng-click=
                    "model.createWidget({'widgetType': 'IMAGE','width': 0, 'url': ''})">
                <div class="row"><a>Image</a></div>
            </li>

            <li class="list-group-item" ng-click=
                    "model.createWidget({'widgetType': 'YOUTUBE', 'width': 0, 'url': ''})">
                <div class="row"><a>Youtube</a></div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new">
                        Data Table</a>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <a href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget/new">
                        Repeater</a>
                </div>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a class="navbar-link"  href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user smw-white-icons btn-lg"></span>
                </a>
            </div>
        </div>
    </nav>
</div>