<div class="smw">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a class="navbar-link" href="#!/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-arrow-left smw-white-icons"></span>
                    </a>
                </div>
                <a class="navbar-brand">Edit Website</a>
                <div class="navbar-text pull-right">
                    <a ng-click="model.updateWebsite(website)">
                        <span class="glyphicon glyphicon-check smw-white-icons"></span></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Left Hand Side to be shown on  -->
            <div class="col-md-2 hidden-xs hidden-sm smw-splitview-left">
                <div ng-include="'views/website/templates/website-list.component.client.html'"></div>
            </div>

        <!-- Right Hand Side -->
        <div class="col-xs-12 col-md-10 smw-splitview-right">
            <!-- Username form -->
            <label for="name">Website Name</label>
            <input name="name"
                   class="form-control"
                   type="text"
                   ng-model="model.website.name"
                   value="Facebook"
                   id="name"/>

            <!-- Username form -->
            <label for="description">Description</label>
            <textarea name="description"
                      rows="5"
                      class="form-control"
                      ng-model="model.website.description"
                      type="text"
                      id="description">Facebook is a popular social networking platform.</textarea>

            <a class="btn btn-default btn-danger btn-block"
               ng-click="model.deleteWebsite()"
               role="button">Delete</a></div>

    </div>
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user smw-white-icons btn-lg"></span>
                </a>
            </div>
        </div>
    </nav>
</div>