<div class="smw">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a class="navbar-link" href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget">
                        <span class="glyphicon glyphicon-arrow-left smw-white-icons"></span>
                    </a>
                </div>
                <a class="navbar-brand">Edit Header Widget</a>
                <div class="navbar-text pull-right">
                    <a ng-click="model.updateWidget(model.widget)">
                        <span class="glyphicon glyphicon-check smw-white-icons"></span></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid smw-body">
        <label for="name">Name</label>
        <input name="name"
               class="form-control"
               type="text"
               ng-model="model.widget.widgetType"
               placeholder="Ice Cream"
               id="name"/>


        <label for="widgetText">Text</label>
        <input name="widgetText"
               ng-model="model.widget.text"
               class="form-control"
               value="I Scream, You Scream: Ice Cream"
               id="widgetText">
        </input>

        <label for="headerSize">Size</label>
        <input name="headerSize"
               class="form-control"
               type="number"
               ng-model="model.widget.size"
               placeholder="3"
               id="headerSize"/>

        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.deleteWidget()"
           role="button">Delete</a></div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#!/profile/{{model.userId}}">
                <span class="glyphicon glyphicon-user smw-white-icons btn-lg"></span>
            </a>
        </div>
    </div>
</nav>
</div>