<div class="smw">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a class="navbar-link" href="widget-list.view.client.html">
                        <span class="glyphicon glyphicon-arrow-left smw-white-icons"></span>
                    </a>
                </div>
                <a class="navbar-brand" href="widget-youtube.view.client.html">Edit Youtube Widget</a>
                <div class="navbar-text pull-right">
                    <a href="widget-list.view.client.html">
                        <span class="glyphicon glyphicon-check smw-white-icons"></span></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <label for="name">Name</label>
        <input name="name"
               class="form-control"
               type="text"
               placeholder="Ben and Jerry's Video"
               id="name"/>

        <label for="description">Text</label>
        <input name="description"
               class="form-control"
               type="text"
               placeholder="Video shows 3 new flavors"
               id="description"/>

        <label for="url">URL </label>
        <input name="url"
               class="form-control"
               type="text"
               value="https://www.youtube.com/embed/7yvK_wagSG8"
               id="url"/>

        <label for="width">Width </label>
        <input name="width"
               class="form-control"
               type="number"
               placeholder="100%"
               id="width"/>


        <a class="btn btn-default btn-danger btn-block"
           href="widget-list.view.client.html"
           role="button">Delete</a></div>


</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user smw-white-icons btn-lg"></span>
            </a>
        </div>
    </div>
</nav>
</div>