<div class="container-fluid">
    <div class="smw">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" href="#!/">
                            <span class="glyphicon glyphicon-home smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <div class="navbar-text pull-left">
                        <a class="navbar-link" onclick="history.back()">
                            <span class="glyphicon glyphicon glyphicon-menu-left smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">DNAtabase Profile</a>
                </div>
            </div>
        </nav>

        <div ng-show="model.errorMessage" class="alert alert-success">{{model.errorMessage}}</div>

        <div class="container-fluid smw-login">
            <div ng-show="model.user.isAdmin">
                <a class="btn btn-default btn-block"
                   href="#!/adminHome"
                   role="button">Admin Page</a>
            </div>
            <a ng-click="userData = !userData"><div class="smw-profile-headers"><h2>User Data ▾</h2></div></a>
            <div ng-hide="userData">
                    <label for="firstname"> First Name</label>
                    <input name="firstname"
                           class="form-control"
                           ng-model="model.user.firstName"
                           type="text"
                           id="firstname"/>

                    <label for="lastname"> Last Name</label>
                    <input name="lastname"
                           class="form-control"
                           ng-model="model.user.lastName"
                           type="text"
                           id="lastname"/>

                    <label for="username"> Username</label>
                    <input name="username"
                           ng-model="model.user.username"
                           class="form-control"
                           readonly
                           id="username"/>

                    <a class="btn btn-default btn-danger btn-block"
                       ng-click="model.logout()"
                       role="button">Logout</a>


                    <a class="btn btn-default btn-success btn-block"
                       ng-click="model.updateUser(model.user)"
                       role="button">Update User</a>

                    <a class="btn btn-default btn-danger btn-block"
                       ng-click="model.deleteUser(model.user)"
                       role="button">Unregister</a>
            </div>


            <a ng-click="userSaved = !userSaved"><div class="smw-profile-headers"><h2>Saved Articles ▾</h2></div></a>
            <div ng-hide="userSaved">
                <ul class="col-xs-12 list-group" ng-show="model.user.articles">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-xs-11">Articles ({{model.user.articles.length}})</a></div>
                            <div class="col-xs-1">
                                Unlike?
                            </div>
                        </div>
                    </li>
                    <li ng-repeat="article in model.user.actualArticleObjects track by $index" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-11"><a href="#!/details/{{article.id}}">{{article.attributes.title}}</a></div>
                            <div class="col-xs-1">
                                <a ng-click="model.unsaveArticle(article)"><span class="glyphicon glyphicon-heart"></span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <a ng-click="userFollowed = !userFollowed"><div class="smw-profile-headers"> <h2>Following  ▾</h2></div></a>
            <div ng-hide="userFollowed">
            <ul class="col-xs-12 list-group" ng-show="model.user.following">
                <a href="#!/findUsers"><h4>Find Users To Follow</h4></a>
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-12">Users ({{model.user.following.length}})</a></div>
                    </div>
                </li>
                <li ng-repeat="otherUser in model.user.followingActual track by $index" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12"> <a href="#!/profile/user/{{otherUser._id}}">{{otherUser.username}}</a></div>
                    </div>
                </li>
            </ul>
            </div>

            <a ng-click="followedBy = !followedBy"><div class="smw-profile-headers"> <h2>Followed By  ▾</h2></div></a>
            <div ng-hide="followedBy">
            <ul class="col-xs-12 list-group"ng-show="model.followingUser">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-12">Users ({{model.followingUser.length}})</a></div>
                    </div>
                </li>
                <li ng-repeat="otherUser in model.followingUser track by $index" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12"><a href="#!/profile/user/{{otherUser._id}}">{{otherUser.username}}</a></div>
                    </div>
                </li>
            </ul>
            </div>
        </div>


        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
            </div>
        </nav>
    </div>
</div>
</div>
