<div class="container-fluid">
    <div class="smw">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-text pull-right">
                        <a class="navbar-link" href="#!/">
                            <span class="glyphicon glyphicon-home smw-white-icon-medium"></span>
                        </a>
                    </div>
                    <a class="navbar-brand">DNAtabase Profile</a>
                </div>
            </div>
        </nav>

        <div ng-show="model.errorMessage" class="alert alert-success">{{model.errorMessage}}</div>

        <div class="container-fluid smw-login">
            <a ng-click="userData = !userData"><div class="smw-profile-headers"><h2>User Data ▾</h2></div></a>
            <div ng-hide="userData">
                    <label for="firstname"> First Name</label>
                    <input name="firstname"
                           class="form-control"
                           ng-model="model.user.firstName"
                           type="text"
                           id="firstname"/>

                    <label for="lastname"> Last Name</label>
                    <input name="lastname"
                           class="form-control"
                           ng-model="model.user.lastName"
                           type="text"
                           id="lastname"/>

                    <label for="username"> Username</label>
                    <input name="username"
                           ng-model="model.user.username"
                           class="form-control"
                           readonly
                           id="username"/>

                    <a class="btn btn-default btn-danger btn-block"
                       ng-click="model.logout()"
                       role="button">Logout</a>


                    <a class="btn btn-default btn-success btn-block"
                       ng-click="model.updateUser(model.user)"
                       role="button">Update User</a>

                    <a class="btn btn-default btn-danger btn-block"
                       ng-click="model.deleteUser(model.user)"
                       role="button">Unregister</a>
            </div>


            <a ng-click="userSaved = !userSaved"><div class="smw-profile-headers"><h2>Saved Articles ▾</h2></div></a>
            <div ng-hide="userSaved">
                    <table class="table" ng-show="model.user.articles">
                        <tr>
                            <th>Title</th>
                            <th>Unlike?</th>
                        </tr>
                        <tr ng-repeat="article in model.user.actualArticleObjects track by $index">
                            <td>
                                <a href="#!/details/{{article.id}}">{{article.attributes.title}}</a>
                            </td>
                            <td>
                                <a ng-click="model.unsaveArticle(article)"><span class="glyphicon glyphicon-heart"></span></a>
                            </td>
                        </tr>
                    </table>
            </div>


            <a ng-click="userFollowed = !userFollowed"><div class="smw-profile-headers"> <h2>Following  ▾</h2></div></a>
            <div ng-hide="userFollowed">
                <table class="table" ng-show="model.user.following">
                    <a href="#!/findUsers"><h4>Find Users To Follow</h4></a>
                    <tr>
                        <th>Users ({{model.user.following.length}})</th>
                    </tr>
                    <tr ng-repeat="otherUser in model.user.followingActual track by $index">
                        <td>
                            <a href="#!/profile/user/{{otherUser._id}}">{{otherUser.username}}</a>
                        </td>
                    </tr>
                </table>
            </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
            </div>
        </nav>
    </div>
</div>
</div>
