<div class="smw">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a class="navbar-link" href="#!/website/{{model.webId}}/page">
                        <span class="glyphicon glyphicon-arrow-left smw-white-icons"></span>
                    </a>
                </div>
                <a class="navbar-brand">Edit Page</a>
                <div class="navbar-text pull-right">
                    <a ng-click="model.updatePage(page)">
                        <span class="glyphicon glyphicon-check smw-white-icons"></span></a>
                </div>
            </div>
        </div>
    </nav>

<div class="container-fluid smw-body">
    <div class="row">
        <!-- Left Hand Side to be shown on  -->
        <div class="col-md-2 hidden-xs hidden-sm smw-splitview-left">
            <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-9">Page Name</div>
                    <a href="#!/website/{{model.webId}}/page/new">
                        <div class="col-xs-3"><span class="pull-right glyphicon glyphicon-plus smw-white-icons"/></div>
                    </a>

                </div>
                <li ng-repeat="page in model.pages" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-9">
                            <a href="#!/website/{{model.webId}}/page/{{page._id}}/widget">{{page.name}}</a></div>
                        <div class="col-xs-3">
                            <a href="#!/website/{{model.webId}}/page/{{page._id}}">
                                <span class="pull-right glyphicon glyphicon-cog"/>
                            </a>
                        </div>
                    </div>
                </li>
        </ul>
        </div>


        <!-- Right Hand Side -->
        <div class="col-xs-12 col-md-10 smw-splitview-right">
            <!-- Username form -->
            <label for="name">Page Name</label>
            <input name="name"
                   class="form-control"
                   type="text"
                   ng-model="model.page.name"
                   value="Home"
                   id="name"/>

            <label for="description">Description</label>
            <textarea name="description"
                      rows="5"
                      class="form-control"
                      type="text"
                      ng-model="model.page.description"
                      placeholder="Description"
                      id="description"></textarea>

            <a class="btn btn-default btn-danger btn-block"
               ng-click="model.deletePage()";
               role="button">Delete</a></div>

    </div>
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/profile">
                    <span class="glyphicon glyphicon-user smw-white-icons btn-lg"></span>
                </a>
            </div>
        </div>
    </nav>
</div>