<div class="smw">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a class="navbar-link" href="page-list.view.client.html">
                        <span class="glyphicon glyphicon-arrow-left smw-white-icons"></span>
                    </a>
                </div>
                <a class="navbar-brand" href="page-edit.view.client.html">Edit Page</a>
                <div class="navbar-text pull-right">
                    <a href="page-list.view.client.html">
                        <span class="glyphicon glyphicon-check smw-white-icons"></span></a>
                </div>
            </div>
        </div>
    </nav>

<div class="container-fluid">
    <div class="row">
        <!-- Left Hand Side to be shown on  -->
        <div class="col-md-2 hidden-xs hidden-sm smw-splitview-left">
            <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-xs-9">Page Name</div>
                    <a href="page-new.view.client.html">
                        <div class="col-xs-3"><span class="pull-right glyphicon glyphicon-plus smw-white-icons"/></div>
                    </a>

                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-9">
                        <a href="../../widget/widget-list.view.client.html">Home</a></div>
                    <div class="col-xs-3">
                        <a href="page-edit.view.client.html">
                            <span class="pull-right glyphicon glyphicon-cog"/>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-9">
                        <a href="../../widget/widget-list.view.client.html">About</a></div>
                    <div class="col-xs-3">
                        <a href="page-edit.view.client.html">
                            <span class="pull-right glyphicon glyphicon-cog"/>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-9">
                        <a href="../../widget/widget-list.view.client.html">Make a Post</a></div>
                    <div class="col-xs-3">
                        <a href="page-edit.view.client.html">
                            <span class="pull-right glyphicon glyphicon-cog"/>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-9">
                        <a href="-list.html">Find Users</a></div>
                    <div class="col-xs-3">
                        <a href="page-edit.view.client.html">
                            <span class="pull-right glyphicon glyphicon-cog"/>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        </div>


        <!-- Right Hand Side -->
        <div class="col-xs-12 col-md-10 smw-splitview-right">
            <!-- Username form -->
            <label for="name">Page Name</label>
            <input name="name"
                   class="form-control"
                   type="text"
                   value="Home"
                   id="name"/>

            <label for="title">Title</label>
            <input name="title"
                   class="form-control"
                   type="text"
                   value="Home Page"
                   id="title"/>

            <a class="btn btn-default btn-danger btn-block"
               href="page-list.view.client.html"
               role="button">Delete</a></div>

    </div>
</div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="../../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user smw-white-icons btn-lg"></span>
                </a>
            </div>
        </div>
    </nav>
</div>